[Desktop Entry]
Type=Application
Name=Spotify
GenericName=Music Player
Icon=spotify-client
Exec=bash -c "spicetify auto; spotify"
Terminal=false
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=spotify
X-GNOME-Autostart-enabled=true
